---
name: 04-03 Caching
on:
  workflow_dispatch: 

jobs:
  actions-cache:
    name: Demo cache
    runs-on: ubuntu-24.04
    steps: 
      - name: Attempt to restore cache # misses on the first run
        id: demo-cache
        uses: actions/cache@v5
        with:
          path: demo-cache
          key: demo-cache-v1

      - name: Populate cache directory on miss
        if: steps.demo-cache.outputs.cache-hit != 'true'
        run: |
          echo "Cache miss - generating contents"
          mkdir -p demo-cache
          date -Iseconds > demo-cache/timestamp.txt

      - name: Save cache after content generation
        if: steps.demo-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v5
        with:
          path: demo-cache
          key: demo-cache-v1

      - name: Verify cache status
        run: |
          echo "cache-hit? -> ${{ steps.demo-cache.outputs.cache-hit }}"
          cat demo-cache/timestamp.txt