---
# Workflow Commands GitHub documentation: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands
name: 04-08 Workflow Commands
on:
  workflow_dispatch:

jobs:
  demo:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Log annotations
        run: |
          # Debug output (visible only when repo secret ACTIONS_STEP_DEBUG=true)
          echo "::debug::Step started - hello from debug"

          file=".github/workflows/04-advanced-features--08-workflow-commands.yaml"
          echo "::notice file=$file,line=23::By specifying a line (and optionally a column) the notice is linked to a source file"

          echo "::warning title=Some Warning::A more detailed description of the warning"

          # Fails the run visually but does NOT stop the execution (you should `exit 1` to stop execution)
          echo "::error title=Some Error::A more detailed description of this error"

      - name: Grouped logs
        run: |
          echo "::group::This is a group of logs"
          echo "Hello from within the group!"
          echo "::endgroup::"

      - name: Mask a value
        env:
          FOO: "yuomamma"
        run: |
          echo "FOO is $FOO"
          echo "::add-mask::$FOO"
          echo "FOO is $FOO - added masking"

      - name: Stop and resume workflow commands
        run: |
          marker=$(uuidgen)
          echo "::stop-commands::$marker"
          echo "::error::This is **not** rendered as an error"
          echo "::$marker::" # resume processing 
          echo "::notice::Processing resumed"

      - name: Set an environment variable
        run: echo "BUILD_ID=$(date +%s)" >> "$GITHUB_ENV"

      - name: Set a step output variable
        id: pick-colour
        run: echo "choice=green" >> "$GITHUB_OUTPUT"

      - name: Append to step summary
        run: |
          echo "### Build completed" >> $GITHUB_STEP_SUMMARY
          # echo "- Build ID: $BUILD_ID" >> $GITHUB_STEP_SUMMARY
          echo "- "Colour: ${{ steps.pick-colour.outputs.choice }}" >> $GITHUB_STEP_SUMMARY
      
      - name: Add custom path
        run: echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Use env, output and PATH
        env:
          CHOSEN_COLOUR: ${{ steps.pick-colour.outputs.CHOICE }}
        run: |
          echo "Current PATH is: "
          echo "$PATH"
          echo ""
          echo "Build ID is $BUILD_ID"
          echo "Chosen colour is $CHOSEN_COLOUR"